.signup-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 2%;
}

.signup-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 10px 10px 10px 10px;
    background-color: #936EFE;
    color: white;
}

.inputs{
    width: 250px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    border: 1px rgb(189, 187, 187) solid;
    font-size: 16px;
}

#firstname{
    width: 150px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    border: 1px rgb(189, 187, 187) solid;
    font-size: 16px;
}

#lastname{
    width: 150px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    border: 1px rgb(189, 187, 187) solid;
    font-size: 16px;
}